---
const {id} = Astro.props;
import DevWave from "../../public/DevWave.webp"
import promt from "../../public/promt.svg"
import Badge2 from "./badge2.astro";
import ProjectCard from "./projectCard.astro";
import SectionTittle from "./sectionTittle.astro";
import html from "../../public/html.svg"
import css from "../../public/css.svg"
import js from "../../public/js.svg"
import SectionContainer from "./sectionContainer.astro";
---
<SectionContainer id={id} bg={false}>
    <SectionTittle img={promt.src} tittle="Projects"/>
    <div class="flex justify-center gap-4 flex-col">
        <ProjectCard image={DevWave.src} linkCode="https://github.com/AngelGab006/DevWaves" linkPage="https://dev-waves.vercel.app/" tittle="DevWave | Website Project" text="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, quae? Architecto cupiditate accusamus, error porro temporibus reiciendis enim corrupti autem nostrum id quia provident optio suscipit quibusdam eligendi veritatis labore?">
            <Badge2 icon={html.src} text="HTML" color="bg-orange-500" />
            <Badge2 icon={css.src} text="CSS" color="bg-blue-500" />
        </ProjectCard>
        <ProjectCard image={DevWave.src} linkCode="https://github.com/AngelGab006/DevWaves" linkPage="https://dev-waves.vercel.app/" tittle="Notes | Web App Project" text="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, quae? Architecto cupiditate accusamus, error porro temporibus reiciendis enim corrupti autem nostrum id quia provident optio suscipit quibusdam eligendi veritatis labore?">
            <Badge2 icon={html.src} text="HTML" color="bg-orange-500" />
            <Badge2 icon={css.src} text="CSS" color="bg-blue-500" />
            <Badge2 icon={js.src} text="JavaScript" color="bg-yellow-500" />
        </ProjectCard>
    </div>
</SectionContainer>