---
const {id} = Astro.props;
import DevWave from "../../public/DevWave.webp"
import promt from "../../public/promt.svg"
import Badge2 from "./badge2.astro";
import ProjectCard from "./projectCard.astro";
import SectionTittle from "./sectionTittle.astro";
import html from "../../public/html.svg"
import css from "../../public/css.svg"
import js from "../../public/js.svg"
import SectionContainer from "./sectionContainer.astro";
import Notes from "../../public/Notes-Project.webp"
import Enigmatic from "../../public/Enigmatic.webp"
import DogAppImage from "../../public/DogRandomAppImg.webp"
import reactLogo from "../../public/react.svg"
import vite from "../../public/vitejs.svg"
import DogApi from "../../public/DogApi.png"
---
<SectionContainer id={id} bg={false}>
    <SectionTittle img={promt.src} tittle="Projects"/>
    <div class="flex justify-center gap-4 flex-wrap">
        <ProjectCard image={DevWave.src} linkCode="https://github.com/AngelGab006/DevWaves" linkPage="https://dev-waves.vercel.app/" tittle="DevWave | Website Project" text="DevWaves is a subscription-based platform connecting clients with developers for seamless website maintenance and ongoing support. Clients simply subscribe to keep their websites running smoothly, while developers handle all technical aspects.">
            <Badge2 icon={html.src} text="HTML" color="bg-orange-500" />
            <Badge2 icon={css.src} text="CSS" color="bg-blue-500" />
        </ProjectCard>
        <ProjectCard image={Notes.src} linkCode="https://github.com/AngelGab006/to-do-list" linkPage="https://to-do-list-one-virid.vercel.app/" tittle="Notes | Web App Project" text="A visually engaging To-Do List app designed for efficient task organization. Users can create, view, and manage color-coded tasks, making navigation intuitive. The app includes search functionality and detailed task descriptions, offering a clean, modern design perfect for staying organized.">
            <Badge2 icon={html.src} text="HTML" color="bg-orange-500" />
            <Badge2 icon={css.src} text="CSS" color="bg-blue-500" />
            <Badge2 icon={js.src} text="JavaScript" color="bg-yellow-500" />
        </ProjectCard>
        <ProjectCard image={Enigmatic.src} linkCode="https://github.com/AngelGab006/Enigmatic" linkPage="https://enigmatic-seven.vercel.app/" tittle="Enigmatic | Web App Project" text="This cryptography tool is an educational resource to help students learn and practice matrix-based encryption. It allows visualizing message data, experimenting with encryption/decryption, and verifying accuracy - enhancing understanding of cryptographic principles.">
            <Badge2 icon={html.src} text="HTML" color="bg-orange-500" />
            <Badge2 icon={css.src} text="CSS" color="bg-blue-500" />
            <Badge2 icon={js.src} text="JavaScript" color="bg-yellow-500" />
        </ProjectCard>
        <ProjectCard image={DogAppImage.src} linkCode="https://github.com/AngelGab006/Dog-Random-App-React" linkPage="https://dog-random-app-react.vercel.app/" tittle="Random Dog Image App | React Project" text="This React app connects to the dog API to fetch and display random dog images along with their breed information. Users can click the image to generate a new random dog picture and download it.">
            <Badge2 icon={reactLogo.src} text="React" color="bg-blue-400" />
            <Badge2 icon={js.src} text="JavaScript" color="bg-yellow-500" />
            <Badge2 icon={vite.src} text="Vite" color="bg-purple-500" />
            <Badge2 icon={DogApi.src} text="Dog API" color="bg-gray-500" />
        </ProjectCard>
    </div>
</SectionContainer>