---
import Badge from "./badge.astro"
import GithubIcon from "../../public/Github.svg"
import LinkedIn from "../../public/LinkedIn.svg"
import Gmail from "../../public/Gmail.svg"
const {id} = Astro.props;
---

<section id={id} class="flex flex-col gap-6 justify-start mt-28 w-11/12 md:w-7/12 lg:w-5/12 bg-white rounded-lg shadow-lg py-6 px-8">
    <h1 class="text-6xl font-bold text-gray-800">
        Hi, I'm <a class="text-blue-600 hover:text-blue-800 transition-all" href="https://www.linkedin.com/in/angel-gabriel-nu%C3%B1ez-beltre-b00b3425b/" target="_blank">Ángel</a>
    </h1>
    <p class="text-lg text-gray-700 leading-relaxed text-pretty">
        With over <span class="text-blue-600">a year of professional experience</span> and more than five years of software development expertise, I specialize in building <span class="text-blue-600">powerful websites</span>. I'm based in Santo Domingo, Dominican Republic, and I'm passionate about turning ideas into reality through code. Proficient in <span class="text-blue-600">HTML, CSS, JavaScript, Node.js, Astro, React, Tailwind</span>, and other technologies.
    </p>
    <p class="text-lg text-gray-700 leading-relaxed text-pretty">
        I'm currently <a class="text-blue-600 underline hover:text-blue-800 transition-all" href="https://www.linkedin.com/in/angel-gabriel-nu%C3%B1ez-beltre-b00b3425b/" target="_blank">open to work</a> opportunities where I can leverage my skills to create impactful solutions. Let's connect and build something great together!
    </p>
</section>
<div class="flex flex-wrap gap-4 mt-8 justify-center">
    <Badge name = "Github" icon=`${GithubIcon.src}` url="https://github.com/AngelGab006"></Badge>
    <Badge name = "LinkedIn" icon=`${LinkedIn.src}` url="https://www.linkedin.com/in/angel-gabriel-nu%C3%B1ez-beltre-b00b3425b/"></Badge>
    <Badge name = "Contact" icon=`${Gmail.src}` url="mailto:angelbeltrea.20@gmail.com?Subject=Hi, Ángel"></Badge>
</div>

